##############################################################
#
# List of approvers/reviewers for Supermemo
#
##############################################################

# These owners will be the default owners for everything in the repo.
@SravanKumarL @sandeepmady21 @canthread @AditiThirdEye
